# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Automation\java_automation_with_pokemon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
